* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: #000000f7;
}
.snow__box{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.snow__box > i{
    color: #fff;
    position:absolute;
    top: 0%;
    font-size: 2rem;
    animation: snow 2s linear;
}
@keyframes snow {
    100%{
        transform: translateY(105vh) ;
    }
}
